* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 30px;
}

nav {
    background-color: #333333;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    float: left;
    margin: 1rem;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}

article {
    padding: 20px;
    background-color: #f1f1f1;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.error {
    color: red;
}

.tasks {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.task:not(.done) {
    border-color: #17a2b8;
}

.task {
    flex: 0 0 358px;
    height: 180px;
}

.task.done {
    opacity: 0.6;
}
.task.done .card-text {
    text-decoration:line-through
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card {
    word-wrap: break-word;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}